@import url(http://fonts.googleapis.com/css?family=Carter+One);

body{
	font-family: Arial, sans-serif;
	background: #F9F6F5;
	color: #111;
}

a{
	text-decoration: none;
	color: #444;
}

a:hover{
	color: #181818;
}

header{
	position: relative;
}

header>h1>a, header>h1>a:hover{
	font-family: 'Carter One', sans-serif;
	color: #24A;
}

nav>ul{
	position: absolute;
	top: 0;
	right: 0;
}

nav>ul>li{
	display: inline-block;
	margin-left: 
}

nav>ul, ul#links{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.link{
	padding: .85em 0;
	background: #FFF;
	margin: .7em 0;
	box-shadow: -5px 0 8px #DDD;
}

li.link:hover{
	box-shadow: -5px 0 7px #D6D5D4;
}

li.link>a, div.submission-info span{
	margin-right: .5em
}

small.link-domain{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #B4B4B8;
	font-size: small;
}

div.submission-info{
	color: #888;
	font-size: .85em;
	margin-top: 5px;
}